<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome to Symfony 3.4.4!{% endblock %}</title>
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/css/app.css') }}">
        {% endblock %}
    </head>
    <body>
      <div class="container">
          <div>
        {{ render(controller('App\\Controller\\LuckyController::luckyNavAction')) }}
          </div>
          {# pass a string argument to get only the messages of that type #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% for message in app.flashes('notice') %}
          <div class="flash-notice alert alert-info">
              {{ message }}
          </div>
        {% endfor %}
        {% for message in app.flashes('error') %}
          <div class="flash-error alert alert-danger">
              {{ message }}
          </div>
        {% endfor %}
          {% for message in app.flashes('warning') %}
              <div class="flash-warning alert alert-warning">
                  {{ message }}
              </div>
          {% endfor %}


        {% block body %}{% endblock %}
        {% block javascripts %}
        <script src="{{ asset('build/js/app.js') }}"></script>
        {% endblock %}
      </div>
    </body>
</html>
